div.banner
{
    background-color:#FCF9F9;
    margin: 50px 0 50px 0;
    padding: 20px;
    background-image: url('images/studentcouncil.gif');
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: right;  
} 
    
div.logo
{
    position: absolute;
    top : 70px;
    right: 220px;
    width: 200px;
    height:100px;
}
    
div.menu
{
    width: 200px;    
    font-family: castellar;
    font-size: 10px;
    text-align: center;
}

div.menu a
{
    background-color: #FCF9F9; 
    color: black;
    display: block; 
    padding: 12px; 
    text-decoration: none; 
}

div.menu a:hover {
    background-color: #ccc;
}

div.menu a.active {
    background-color: #A52323; 
    color: white;
}

div.intro
{
    font-family: bookman;
    font-size: 20px;
    color: #FCF9F9;
    left: 50px;
    bottom: 10px;
    text-align: center;
}

div.quote
{
    font-family: bookman;
    font-size: 20px;
    color: #060606;
    left: 50px;
    bottom: 10px;
    border: inset;
    border-color: white;
    background-image: url('images/quote.png');
}

div.footer
{
    font-family: times new roman;
    font-size: 15px;
    color: #ffffff;
}

* {box-sizing:border-box}

/* UOW SC Slideshow */
div.UOWSCSlideshowVA
{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

div.UOWSCSlideshowBG
{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

div.UOWSCSlidesVA
{
    display: none;
}

div.UOWSCSlidesBG
{
    display: none;
}

/* Slide Title */
div.slideTitle
{
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
  border: double;
  border-color: white;
}

/* Slide Caption Text */
div.slideText 
{
  color: #f2f2f2;
  font-size: 20px;
  font-family: comic sans;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Label e.g. 1/3 */
div.slideNo 
{
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

div.comments
{
    font-family: times new roman;
    font-size: 15px;
    color: maroon;
    left: 50px;
    bottom: 10px;
    text-align: left;
    background-image: url('images/sea.jpg');
}

div.text
{
    font-family: courier;
    font-size: 15px;
    color: whitesmoke;
    left: 50px;
    bottom: 10px;
    background-image: url('images/cloud.jpg')
}  

div.gallerydropbtn 
{
    padding: 16px;
    border-style: none;
    cursor: pointer;
}

div.gallerydropdown
{
    float: right;
    display: none;
    position: relative;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

div.gallerydropdown a 
{
    color: black;
    font-family: times new roman;
    padding: 12px 16px;
    text-decoration: none;
    display: list-item;
}

div.gallerydropdown a:hover 
{
    background-color: lightslategrey;
}

div.menu:hover div.gallerydropdown
{
    display: list-item;
}

div.gallery 
{
  width: 1200px;
  height: 1280px;
  margin: 0 auto;
  padding: 5px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

div.gallery > div 
{
  position: relative;
  float: left;
  padding: 5px;
}

div.gallery > div > img 
{
  display: block;
  width: 250px;
  height: 200px;
  transition: .1s transform;
  transform: translateZ(0);
}

div.gallery > div:hover 
{
  z-index: 1;
}

div.gallery > div:hover > img 
{
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

div.cf:before, .cf:after 
{
  display: table;
  content: "";
  line-height: 0;
}

div.cf:after 
{
  clear: both;
} 

div.galleryM 
{
    background-color: white;
    float: left;
    position: relative;
    margin: 0px;
    padding: 5px;
    border-style: outset;
    border: 10px solid black;
    width: 300px;
}

div.galleryM:hover 
{
    border: 1px solid black;
}

div.galleryM img 
{
    width: 100%;
    height: auto;
    display: block;
}

div.desc 
{
    padding: 10px;
    text-align: center;
    font-family: comic sans;
    font-size: 20px;
}

div.contactus
{
    font-family: baskerville old face;
    color: maroon;
}

div.contactform
{
    font-family: stencil;
    color: black;
    font-size: 30px;
    text-align: left;
    margin: 10px;
}

div.elections
{
    left: 50px;
    bottom: 10px;
    border: inset;
    border-color: white;
    font-family: calabri;
    font-size: 20px;
    color: white;
    background-image: url('images/elections/elections.jpg');
    background-size: 100%;
}

div.electionform
{
    font-family: stencil;
    color: black;
    font-size: 20px;
    text-align: left;
    margin: 10px;
}

div.campfestival
{
  color: white;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: left;
  border: double;
  border-color: white;
  background-image: url('images/events/campfestival.jpg');
  background-size: 60%;
}

div.webunleashed
{
  color: white;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: left;
  border: double;
  border-color: white;
  background-image: url('images/events/webunleashed.jpg');
  background-size: 60%;
}

div.webgames
{
  color: white;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: left;
  border: double;
  border-color: white;
  background-image: url('images/events/webgames.jpg');
  background-size: 60%;
}

div.samsungconference
{
  color: white;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: left;
  border: double;
  border-color: white;
  background-image: url('images/events/samsung.jpg');
  background-size: 60%;
}

div.news
{
    width: 115%;
    font-family: bookman;
    font-size: 20px;
    color: white;
    left: 50px;
    bottom: 10px;
    border: inset;
    border-color: white;
    background-image: url('images/news/newsbackground.jpg');
    background-size: 30%;
}

div.newsection
{
    background-color: grey;
    font-family: bookman;
    color: white;
    text-align: center;
    border-style: dashed;
}

div.newscontent
{
    background-color: lightgray;
    font-family: bookman;
    color: black;
    text-align: center;
    border-style: groove;
}

div.topmenu 
{
    background-color: maroon;
    overflow: hidden;
}

div.topmenu a 
{
    font-family: broadway;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

div.topmenu a:hover 
{
    background-color: lightcyan;
    color: black;
}

/* Add a color to the active/current link */
div.topmenu a.active 
{
    background-color: #4CAF50;
    color: white;
}

div.registrationform
{
    font-family: stencil;
    color: white;
    font-size: 20px;
    text-align: left;
    margin: 10px;
}

div.registrationformS
{
    font-family: stencil;
    color: white;
    font-size: 20px;
    text-align: left;
    margin: 10px;
    float: right;
}

div.loginform
{
    font-family: stencil;
    color: white;
    font-size: 20px;
    text-align: left;
    margin: 10px;
    border: 3px solid #f1f1f1;
    padding: 16px;
}

div.avatar
{
    float: right;
    margin: 24px 0 12px 0;
    width: 40%;
    border-radius: 50%;
}

div.lbutton 
{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

div.lbutton:hover 
{
    opacity: 0.8;
}

div.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

span.psw 
{
    padding-top: 16px;
}
